---
permalink: '/admin/index.html'
eleventyExcludeFromCollections: true
---
<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Content Manager</title>

</head>
<body>
  <!--
    If you want to use Decap CMS instead of Sveltia CMS, uncomment the following line and
    comment out the Sveltia CMS line below.
  -->
  <!-- <script src="https://unpkg.com/decap-cms@^3.8.3/dist/decap-cms.js"></script> -->
  <script src="https://unpkg.com/@sveltia/cms/dist/sveltia-cms.js"></script>

</body>
</html>