<div class="flex px-[10px] mb-[2px] whitespace-nowrap">
  <a
    class="{% if active %}text-accent{% else %}text-accent hover:text-accent/80{% endif %} transition-colors duration-300 hover:no-underline"
    href="{{ itemUrl }}"
    rel="{{ relAttribute | safe }}"
    {{- currentAttribute | safe -}}
    {{- target | safe -}}
  >
    {{- item.text -}}
  </a>
</div>
