:root {
  /**
    Colors
  */
  --color-text: #2A2F35;
  --color-background: #262F38;
  --color-main: #1A2026;
  --color-light: #9DBBDD;
  --color-primary: #4A6D91;
  --color-link: #EAEAEA;
  --color-accent: #C5A059;

  /**
    Spacing and units
  */
  --unit: 1rem;
  --container-width: 60ch;

  /**
    Fonts
  */
  --font-family-sans-serif:
    system,
    -apple-system;

  font-family: 'Lora', sans-serif;


  @media (prefers-color-scheme: dark) {
    //--color-text: #fff;
    //--color-background: #222;
  }
}
